<ion-tabs>
  <ion-tab-bar color="dark" slot="bottom">

    <!-- Vistas -->
    <ion-tab-button tab="wall">
      <ion-icon class="bi bi-newspaper"></ion-icon>
      <ion-label>Muro</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="search">
      <ion-icon class="bi bi-search"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="encabezado">
      <ion-icon class="bi bi-globe"></ion-icon>
      <ion-label>Encabezado</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon class="bi bi-star"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>